$color-primary: #475be8;
$color-primary-dark: #3e52e2;
$color-bg-light: #383854;
$color-bg-dark: #2e2e48;
$color-bg-lighter: #525270;
$color-yellow: #f29a2e;
$color-normal-text: #e3e7fc;
$color-red: #ef0606;
$color-black: #222;
$color-green: #4ce13f;
